.label{
/* // outline: 0;
  position: absolute;
  display: grid;
  align-items: center;
  background: #800035;*/


  outline: 0;
  border-style: none;
  display: grid;
  align-items: center;
  // padding-left: 2px;
  // position: absolute;
  width: 80%;
  max-width: 300px;
  height: 30px;
  // border: none;
}