.Slider{
 // display: flex;
//  height: 90%;
  width: 900px;
  height: 400px;
  align-items: center;
  justify-content: space-around;
  background: #255a75;
}

.window{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.windows{
 // transform: translateX(-900px);
  height: 100%;
  display: flex;
}