.table{
    border: 1px solid;
  //  width: 50%;
}

.thead{
  //  height: 300px;

}

.tbody{

}

.th{
    border: 1px solid;
   // height: 70px;
}

.tr{

}

.td{
    border: 1px solid;
    text-align: center;
}
